body {
	margin: 0;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.page-header {

    /*	display: flex;
	align-items: center;
	min-height: 75px;*/
	padding: 18px 0 20px 0;
	box-sizing: border-box;
	background-color: #222222;
    
}

.page-header-list {
	display: flex;
    justify-content: flex-start;
    align-items: center;
	padding: 0;
	list-style-type: none;
}

.menu-page-spisok {
    display: flex;

    	list-style-type: none;
}

.page-header-logo {
	display: block;
	width: 44px;
	height: 38px;
	margin: 0 41px 0 0;
	text-decoration: none;
}

.page-header-search {
	width: 26px;
	height: 26px;
}

.btn {
	display: block;
	background-color: transparent;
	border: none;
	padding: 0;
}

.menu-btn {
    width: 32px;
    height: 23px;
    margin: 0 33px 0 0;
}

.account-btn {
	width: 29px;
	height: 29px;
 	margin: 0 33px 0 0;
}

.cart-btn {
	width: 32px;
	height: 29px;
	position: relative;
}

.cart-btn span{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 19px;
	height: 19px;
	background-color: #f16d7f;
	border-radius: 50%;
	color: #fff;
/*	text-align: center;
	line-height: 19px;*/
	font-size: 12px;
	line-height: 14px;
	position: absolute;
    top: -7px;
    right: -9px;
}

.content-center {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	/*outline: 1px solid #fff;*/
}

.content-center-spisok {
	max-width: 1140px;
	width: 100%;
	margin: 51px 0 0 90px;
}

.page-header button:hover svg {
	fill: blue;
}

.page-header button:active svg {
	fill: purple;
}

.page-header svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: #fff;
} 

.page-header-list > li:nth-child(2) {
	margin: 0 75.5% 0 0;
} 

.page-header-logo:hover img {
	filter: brightness(30%);
}

.page-header-logo:active img {
	filter: brightness(60%);
}

.page-header-logo img {
	width: 100%;
	height: 100%;
}


.content-catalog {
    width: 100%;
    height: 148px;
    margin-top: 0px;
    background: #F1E4E6;
    position: relative;
    box-sizing: border-box;
}
.content {
    width: 100%;
    height: 764px;
    top: 0px;
    background: #F1E4E6;
    position: relative;
}

.button-menu {
    margin-left: 11px;
right: 80.25%;
top: 8.65%;
bottom: 91.04%;

}

.trending-now {
   
    width: 112px;
    height: 17px;
    margin-left: 304px;
    top: 274px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
   
    
}

.choose-trending-now {
    
margin-left: 10px;
right: 53%;
top: 8.74%;
bottom: 91.1%;


}

.filter {
    width: 44px;
    height: 17px;
    margin-left: 0px;
    padding-top: 51px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.size {
    width: 29px;
height: 17px;
margin-left: 27.98px;
top: 274px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}

.choose-size {
    margin-left: 10px;
right: 48.19%;
top: 8.74%;
bottom: 91.1%;
}

.price {
    width: 39px;
height: 17px;
margin-left: 10px;
top: 274px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}

.choose-price {
    margin-left: 10px;
right: 42.75%;
top: 8.74%;
bottom: 91.1%;
}

.new-arrivals {
    position: absolute;
left: 15.88%;

top: 59px;
bottom: 94.93%;
text-decoration: none;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */
color: #F16D7F;
width: 194px;
height: 29px;
}

a:hover {
    border-bottom: 1px solid blue;
}

.bread-crumbs {
    position: absolute;
    left: 73.0%;
    
    top: 65px;
    bottom: 95.12%;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    width: 209px;
height: 17px;
    
    color: #636363;
    
}

.img_men {
    position: absolute;
    top: 0px;
}

.modeli {
    margin-top: 60px;
    margin-left: 266px;
    width: 1140px;
    height: 260px;
    list-style-type: none;
    
}

.women {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 230px;
    float: left;
    
    
}

.men {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 620px;
    float: left;
    margin: 0 0 0 27px;
    
}

.men-img {
    width: 100%;
}
.kids {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 1010px;
    float: left;
    margin: 0 0 0 27px;
   
    
}

.kids-img {
    width: 100%;
}
.accesories {
    width: 1140px;
    height: 180px;
    margin-top: 30px;
    margin-left: 266px;
    
 
}

div .sing-less-img:hover svg {
    fill: blue;
}

div .sing-more-img:hover svg {
    fill: blue;
}

.car-img-svg {
    width: 44.99px;
    height: 31.93px;
}

.car-img {
    left: 24.25%;
right: 72.94%;
top: 32.21%;
bottom: 22.8%;
position: absolute;
fill: #F16D7F;
}

 div .car-div:hover svg {
    fill: blue;
    display: block;
	
}

.sale {
    position: absolute;
    left: 48.75%;
    right: 48.75%;
    top: 103px;
    bottom: 18.92%;
    fill: #F16D7F;
    
  }

  div .sale-div:hover svg {
    fill: blue;
    display: block;
  }

  .crown {
    position: absolute;
    left: 72.88%;
    right: 24.18%;
    top: 103px;
    bottom: 19.07%;
    fill: #F16D7F;
  }

div .crown-div:hover svg {
    fill: blue;
    display: block;
}


.accesories-img {
    width: 100%;
}

.brandfashion {
    position: absolute;
    width: 377px;
    height: 93px;
    
    right: 387px;
    top: 373px;
}

.brandlux {
   width: 100%; 
   height: 100%;
}

.element {
    width: 12px;
    height: 93px;
    
    position: absolute;
    right: 782px;
    top: 373px;
}




.menuglav {
width: 100%;
height: 100%;
}





.five {
    top: 22px;
    position: absolute;
    left: 1357px;
}

.krug {
    top: 18px;
    position: absolute;
    left: 1350px; 
}

.heading {
    position: absolute;
    left: 44.4%;
    right: 44.23%;
    top: 152.5%;
    bottom: 60.66%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;  
}

.text {
    position: absolute;
    left: 39.44%;
   
    top: 158.5%;
    bottom: 60.06%;
   
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;  
    color: #9F9F9F;
    
    
}

.description-catalog {
width: 1140px;

    margin-left: 265px;
    margin-top: 65px;
    text-align: left;
    display: flex;
    justify-content: space-between;
   

}

.descriptionmini-catalog {

    width: 360px;
    
    text-align: left;
    
    background: #FFFFFF;

   
    
    display: flex;
    flex-direction: column;

}

.description {
    width: 1140px;
    
        margin-left: 265px;
        margin-top: 198px;
        text-align: left;
        display: flex;
        justify-content: space-between;
       
    
    }
    
    .descriptionmini {
    
        width: 360px;
        
        text-align: left;
        
        background: #FFFFFF;
    
       
        
        display: flex;
        flex-direction: column;
    
    }

.ellerytext {
    width: 100%;
    margin-top: -16.4px;
    font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-decoration: none;
display: block;
color: #5D5D5D;
}

.image-link {
    text-decoration: none;
    width: 70px;
}

.ellery22 {
    height: 400px;
    position: absolute;
    left: 736px;
    
}

.futer-copyright {
    text-decoration: none;
}



.heading-style {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
/* identical to box height */


color: #000000;

}



.card {
    margin-top: 30px;
    
}

.price {
    width: 52.46px;
    height: 19px;
}

.products-btn {
    display: block;
    width: 100%;
    max-width: 211px;
    top: 370px;
    margin: 0 auto;
    padding: 14.5px;
    background-color: #fff;
    border: 2px solid #F26376;
    box-sizing: border-box;
    color: #F26376;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    word-break: break-all;
    margin-top: 48.5px;
  }

  .products-btn:hover {
    background-color: #F26376;
    color: #fff;
  }

  .make-an-order:hover {
    background-color: #fff;
    color: #fff;
  }

  .products-btn:active {
    background-color: #fff;
    border: 2px solid #F26376;
    color: #F26376;
  }

  .products-pages-btn {
    display: block;
    width: 100%;
    max-width: 283.99px;
    margin: 0 auto;
    padding: 12.0px;
    background-color: #fff;
    border: 2px solid #F26376;
    box-sizing: border-box;
    color: #F26376;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    word-break: break-all;
    margin-top: 48.5px;
    
  }

  .wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
   
   
  }

  .services {
      width: 100%;
      height: 341px;
      background: #222224;
margin-top: 95.5px;
position: relative;
  }

  .write {
    width: 100%;
    height: 448px;
    position: relative;
    
  }

  .foto-nature {
    width: 100%;
    height: 100%; 
  }

  .rights {
      width: 100%;
      height: 79px;
          position: relative;
  }

  .alignment {
      padding-left: 140px;
  }

  



  .copyright {
    width: 240px;
    position: absolute;
    margin-top: -50px;
    left: 235px;
  }
  .car {
    position: absolute;
    left: 24.25%;
    right: 72.94%;
    top: 103px;
    bottom: 19.15%;  
  }

  .headingcar {
    position: absolute;
    left: 21.71%;
    right: 70.98%;
    top: 38.58%;
    bottom: 17.79%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    
    color: #FBFBFB;
    
  }

  .textcar {
    position: absolute;
    left: 14.38%;
    right: 63.12%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
     
  }

  

  .headingsale {
    position: absolute;
    left: 44.96%;
    right: 45.47%;
    top: 38.58%;
    bottom: 17.79%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    
    color: #FBFBFB;
     
  }

  .textsale {
    position: absolute;
    left: 38.75%;
    right: 38.75%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
    
  }



 .headingcrown {
    position: absolute;
left: 69.17%;
right: 21.14%;
top: 38.58%;
bottom: 17.79%;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 19.96px;
line-height: 24px;
/* identical to box height */

color: #FBFBFB;
 
 } 

 .textcrown {
    position: absolute;
    left: 63.12%;
    right: 14.38%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
      
 }

 .foto {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 325.71px;
    top: 86.59px;
    
 }

 .futertext  {
    position: absolute;
    left: 13.93%;
    right: 63.14%;
    top: 282.78%;
    
   
   
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #222224;
    
 }

 .futertext-catalog {
    position: absolute;
    left: 13.93%;
    right: 63.14%;
    top: 289.78%;
    
   
   
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #222224;
 }

 .futertext-catalog a {
    text-decoration:none;
    display: inline-block;
    color: #000000; 
 }

 .futertext-catalog a:after {
    text-decoration: underline;
    display: block;
    content: "";
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #225384; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out;
 }

 .futertext-index {
    position: absolute;
    left: 13.93%;
    right: 63.14%;
    top: 373.78%;
    
   
   
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #222224;
    
 }

 .futertext-index a {
    text-decoration:none;
    display: inline-block;
    color: #000000; 
 }

 .futertext-index a:after {
    text-decoration: underline;
    display: block;
    content: "";
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #225384; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out;
 } 

 .futertext a {
    text-decoration:none;
    display: inline-block;
    color: #000000;
 }

 .futertext a:after {
     text-decoration: underline;
    display: block;
    content: "";
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #225384; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out;
 }

 .futerheader {
    position: absolute;
    left: 921px;
    right: 14.38%;
    top: 33.48%;
    bottom: 52.9%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    /* or 40px */
    text-align: center;
    
    color: #222224;
    
 }

 .futerform {
    position: absolute;
    left: 57.31%;
    right: 20.44%;
    top: 54.24%;
    bottom: 34.82%;
    
 }




 .women-model {
    width: 100%;
    height: 777px;
  margin-top: -11px;
  background: #F7F7F7;
}

.new-womem-model {
    width: 100%;
    height: 100%;
 
 
}

.new-womem-model-img {
    width: 597px;
    height: 724px;
  margin-left: 514px;
  margin-top: 10.5px;
    
   
}

.product-description {
    width: 1141px;
    height: 601px; 
    position: relative;  
    left: 260px;
    top: -65px;
    
   
}



.header-product-description {
    position: absolute;
    margin-left: 497.03px;
    margin-top: 84.54px;
    
}

.women-collection {
    color: #EF5B70;
    text-decoration: none;
   top: 65px;
}

.moschino-cheap {
    color: #000000;
    text-decoration: none;
}

.compellingly-actualize {
    color: #000000;
    text-decoration: none;
}

.money {
    color: #EF5B70;
    text-decoration: none;
}

.text-known-for {
    color: #000000;
    text-decoration: none;
}

.text-ellery {
    color: #000000;
    text-decoration: none;
}

.border-element {
    position: absolute;
   left: 48.12%;
    right: 47.94%;
    margin-top: 113.79px;
   
    
    background: #EF5B70;
}

.page-product-description {
    position: absolute;
left: 40.02%;
right: 42.17%;
margin-top: 127px;



font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
width: 253px;
height: 22px;
color: #4D4D4D;
}

.text-product-description {
    position: absolute;
left: 26.0%;
right: 32.69%;
top: 177.5px;


font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;

width: 555px;
color: #5E5E5E;


}


.price-product-description {
    position: absolute;
left: 47.57%;
right: 48.93%;
top: 41.32%;
bottom: 57.67%;

font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;

color: #EF5B70;


}


.menu-page {
    position: absolute;
    top: 370.5px;
}

.menu-page-catalog {
    position: absolute;
    top: 210.5px;
}

.make-an-order {
    position: relative;
    top: 488px;
}
.shop {
position: absolute;
left: 480px;
top: 495px;

}

.shop:hover {
    border-bottom: 1px solid blue;;
} 

.blok-description {
    margin-top: 63px;
    margin-bottom: 128px;
}

.my-copyright {
    text-decoration: none;
    color: white;
}

.basement-black-stripe {
    width: 100%;
}

.fa-facebook-f {

}

.icon-fa-facebook-f {
    width: 31.45px;
    height: 32px;
    background-color:  white;
}

.icon-fa-instagram {
    width: 31.45px;
    height: 32px;
    background-color: #F16D7F;
}

.fa-instagram {
    color: white;
   
    
}



.icon-fa-twitter {
    width: 31.45px;
    height: 32px;
    background-color:  white;
}

.icon-fa-pinterest-p {
    width: 31.45px;
    height: 32px;
    background-color:  white
}

.icons {
    display: flex;
    position: absolute;
    margin-top: -60px;
    margin-left: 1130px;
    width: 130px;
    justify-content: space-between;
}

.icon-style {
    text-decoration: none;
    color: #000000;
    
    padding-left: 9px;
}