
body {
    width: 100%;
}

.menu {
    width: 1600px;
    height: 75px;
    background: black;
    position: relative;
    
}

.spisokmenu {
list-style-type: none;
}

.content {
    width: 1600px;
    height: 764px;
    top: -16px;
    background: #F1E4E6;
    position: relative;
}

.spisok {
    list-style-type: none;
}

.img_men {
    position: absolute;
    top: 0px;
}

.modeli {
    margin-top: 48px;
    margin-left: 230px;
    width: 1140px;
    height: 260px;
    list-style-type: none;
}

.women {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 230px;
    float: left;
    background-image: url(img/womenmax.png);
   
}

.men {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 620px;
    float: left;
    margin: 0 0 0 27px;
    background-image: url(img/menmax.png);
}

.kids {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 1010px;
    float: left;
    margin: 0 0 0 27px;
    background-image: url(img/kidsmax.png);
}

.accesories {
    width: 1140px;
    height: 180px;
    margin-top: 30px;
    margin-left: 230px;
    background-image: url(img/accesoriesmax.png);
}

.brandfashion {
    position: absolute;
    width: 377px;
    height: 93px;
    
    right: 387px;
    top: 373px;
}

.brandlux {
   width: 100%; 
   height: 100%;
}

.element {
    width: 12px;
    height: 93px;
    
    position: absolute;
    right: 782px;
    top: 373px;
}

.menu_logo {
    position: absolute;
    width: 44px;
    height: 38px;
    top: 10px;
    left: 231px; 
}

.nayti {
    position: absolute;
    width: 26px; 
    height: 26.79px;
    top: 21.21px;
    left: 316px;
}

.saytmenu {
    position: absolute;
    width: 32px; 
    height: 23px;
    top: 25.21px;
    left: 1201px;
}

.menuglav {
width: 100%;
height: 100%;
}

.avtor {
    position: absolute;
    width: 29px; 
    height: 29px;
    top: 19px;
    left: 1266px;
}

.magazin {
    position: absolute;
    width: 32px; 
    height: 29px;
    top: 20.21px;
    left: 1328px;
}

.five {
    top: 22px;
    position: absolute;
    left: 1357px;
}

.krug {
    top: 18px;
    position: absolute;
    left: 1350px; 
}

.heading {
    position: absolute;
    left: 44.4%;
    right: 44.23%;
    top: 157.8%;
    bottom: 60.66%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;  
}

.text {
    position: absolute;
    left: 39.44%;
   
    top: 164.0%;
    bottom: 60.06%;
   
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;  
    color: #9F9F9F;
    
    
}

.description {
width: 1140px;

    margin-left: 230px;
    margin-top: 198px;
    text-align: left;
    display: flex;
    justify-content: space-between;
   

}

.descriptionmini {

    width: 360px;
    
    text-align: left;
    
    background: #FFFFFF;

   
    
    display: flex;
    flex-direction: column;

}


.ellerytext {
    width: 100%;
    margin-top: -16.4px;
}

.ellery22 {
    height: 400px;
    position: absolute;
    left: 736px;
    
}

.card {
    margin-top: 30px;
}

.price {
    width: 52.46px;
    height: 19px;
}

.products-btn {
    display: block;
    width: 100%;
    max-width: 211px;
    margin: 0 auto;
    padding: 14.5px;
    background-color: #fff;
    border: 2px solid #F26376;
    box-sizing: border-box;
    color: #F26376;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    word-break: break-all;
    margin-top: 48.5px;
  }

  .products-btn:hover {
    background-color: #F26376;
    color: #fff;
  }
  .products-btn:active {
    background-color: #fff;
    border: 2px solid #F26376;
    color: #F26376;
  }

  .services {
      width: 1600px;
      height: 341px;
      background: #222224;
margin-top: 95.5px;
position: relative;
  }

  .write {
    width: 1600px;
    height: 448px;
    background-image: url(img/nature.jpg);
    
position: relative;
  }

  .rights {
      width: 1600px;
      height: 79px;
      
  }

  .car {
    position: absolute;
    left: 24.25%;
    right: 72.94%;
    top: 103px;
    bottom: 19.15%;  
  }

  .headingcar {
    position: absolute;
    left: 21.71%;
    right: 70.98%;
    top: 38.58%;
    bottom: 17.79%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    
    color: #FBFBFB;
    
  }

  .textcar {
    position: absolute;
    left: 14.38%;
    right: 63.12%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
     
  }

  .sale {
    position: absolute;
    left: 48.75%;
    right: 48.75%;
    top: 103px;
    bottom: 18.92%;
    
    
    
  }

  .headingsale {
    position: absolute;
    left: 44.96%;
    right: 45.47%;
    top: 38.58%;
    bottom: 17.79%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    
    color: #FBFBFB;
     
  }

  .textsale {
    position: absolute;
    left: 38.75%;
    right: 38.75%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
    
  }

  .crown {
    position: absolute;
    left: 72.88%;
    right: 24.18%;
    top: 103px;
    bottom: 19.07%;
    
  }

 .headingcrown {
    position: absolute;
left: 69.17%;
right: 21.14%;
top: 38.58%;
bottom: 17.79%;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 19.96px;
line-height: 24px;
/* identical to box height */

color: #FBFBFB;
 
 } 

 .textcrown {
    position: absolute;
    left: 63.12%;
    right: 14.38%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
      
 }

 .foto {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 325.71px;
    top: 86.59px;
    
 }

 .futertext {
    position: absolute;
    left: 14.39%;
    right: 63.14%;
    top: 49.78%;
    bottom: 28.12%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #222224;
    
    
 }

 .futerheader {
    position: absolute;
    left: 921px;
    right: 14.38%;
    top: 33.48%;
    bottom: 52.9%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    /* or 40px */
    text-align: center;
    
    color: #222224;
    
 }

 .futerform {
    position: absolute;
    left: 57.31%;
    right: 20.44%;
    top: 54.24%;
    bottom: 34.82%;
    
 }




