

body {
	margin: 0;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.page-header {

    /*	display: flex;
	align-items: center;
	min-height: 75px;*/
	padding: 18px 0 20px 0;
	box-sizing: border-box;
	background-color: #222222;
    
}

.page-header-list {
	display: flex;
    justify-content: flex-start;
    align-items: center;
	padding: 0;
	list-style-type: none;
}

.page-header-logo {
	display: block;
	width: 44px;
	height: 38px;
	margin: 0 41px 0 0;
	text-decoration: none;
}

.page-header-search {
	width: 26px;
	height: 26px;
}

.btn {
	display: block;
	background-color: transparent;
	border: none;
	padding: 0;
}

.menu-btn {
    width: 32px;
    height: 23px;
    margin: 0 33px 0 0;
}

.account-btn {
	width: 29px;
	height: 29px;
 	margin: 0 33px 0 0;
}

.cart-btn {
	width: 32px;
	height: 29px;
	position: relative;
}

.cart-btn span{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 19px;
	height: 19px;
	background-color: #f16d7f;
	border-radius: 50%;
	color: #fff;
/*	text-align: center;
	line-height: 19px;*/
	font-size: 12px;
	line-height: 14px;
	position: absolute;
    top: -7px;
    right: -9px;
}

.content-center {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	/*outline: 1px solid #fff;*/
}

.page-header button:hover svg {
	fill: blue;
}

.page-header button:active svg {
	fill: purple;
}

.page-header svg {
	display: block;
	width: 100%;
	height: 100%;
	fill: #fff;
} 

.page-header-list > li:nth-child(2) {
	margin: 0 75.5% 0 0;
} 

.page-header-logo:hover img {
	filter: brightness(30%);
}

.page-header-logo:active img {
	filter: brightness(60%);
}

.page-header-logo img {
	width: 100%;
	height: 100%;
}


.content {
    width: 100%;
    height: 764px;
    top: 0px;
    background: #F1E4E6;
    position: relative;
    box-sizing: border-box;
}



.img_men {
    position: absolute;
    top: 0px;
}

.modeli {
    margin-top: 65px;
    margin-left: 266px;
    width: 1140px;
    height: 260px;
    list-style-type: none;
}

.women {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 230px;
    float: left;
    background-image: url(img/womenmax.png);
   
}

.men {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 620px;
    float: left;
    margin: 0 0 0 27px;
    background-image: url(img/menmax.png);
}

.kids {
    width: 360px;
    height: 260px;
    top: 904px;
    left: 1010px;
    float: left;
    margin: 0 0 0 27px;
    background-image: url(img/kidsmax.png);
}

.accesories {
    width: 1140px;
    height: 180px;
    margin-top: 30px;
    margin-left: 266px;
    background-image: url(img/accesoriesmax.png);
}



.brandfashion {
    position: absolute;
    width: 377px;
    height: 93px;
    
    right: 387px;
    top: 373px;
}

.brandlux {
   width: 100%; 
   height: 100%;
}

.element {
    width: 12px;
    height: 93px;
    
    position: absolute;
    right: 782px;
    top: 373px;
}




.menuglav {
width: 100%;
height: 100%;
}





.five {
    top: 22px;
    position: absolute;
    left: 1357px;
}

.krug {
    top: 18px;
    position: absolute;
    left: 1350px; 
}

.heading {
    position: absolute;
    left: 44.4%;
    right: 44.23%;
    top: 153%;
    bottom: 60.66%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;  
}

.text {
    position: absolute;
    left: 39.44%;
   
    top: 164.0%;
    bottom: 60.06%;
   
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;  
    color: #9F9F9F;
    
    
}

.description {
width: 1140px;

    margin-left: 230px;
    margin-top: 198px;
    text-align: left;
    display: flex;
    justify-content: space-between;
   

}

.descriptionmini {

    width: 360px;
    
    text-align: left;
    
    background: #FFFFFF;

   
    
    display: flex;
    flex-direction: column;

}


.ellerytext {
    width: 100%;
    margin-top: -16.4px;
}

.ellery22 {
    height: 400px;
    position: absolute;
    left: 736px;
    
}

.card {
    margin-top: 30px;
}

.price {
    width: 52.46px;
    height: 19px;
}

.products-btn {
    display: block;
    width: 100%;
    max-width: 211px;
    margin: 0 auto;
    padding: 14.5px;
    background-color: #fff;
    border: 2px solid #F26376;
    box-sizing: border-box;
    color: #F26376;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    word-break: break-all;
    margin-top: 48.5px;
  }

  .products-btn:hover {
    background-color: #F26376;
    color: #fff;
  }
  .products-btn:active {
    background-color: #fff;
    border: 2px solid #F26376;
    color: #F26376;
  }

  .services {
      width: 1600px;
      height: 341px;
      background: #222224;
margin-top: 95.5px;
position: relative;
  }

  .write {
    width: 1600px;
    height: 448px;
    background-image: url(img/nature.jpg);
    
position: relative;
  }

  .rights {
      width: 1600px;
      height: 79px;
      
  }

  .car {
    position: absolute;
    left: 24.25%;
    right: 72.94%;
    top: 103px;
    bottom: 19.15%;  
  }

  .headingcar {
    position: absolute;
    left: 21.71%;
    right: 70.98%;
    top: 38.58%;
    bottom: 17.79%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    
    color: #FBFBFB;
    
  }

  .textcar {
    position: absolute;
    left: 14.38%;
    right: 63.12%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
     
  }

  .sale {
    position: absolute;
    left: 48.75%;
    right: 48.75%;
    top: 103px;
    bottom: 18.92%;
    
    
    
  }

  .headingsale {
    position: absolute;
    left: 44.96%;
    right: 45.47%;
    top: 38.58%;
    bottom: 17.79%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    
    color: #FBFBFB;
     
  }

  .textsale {
    position: absolute;
    left: 38.75%;
    right: 38.75%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
    
  }

  .crown {
    position: absolute;
    left: 72.88%;
    right: 24.18%;
    top: 103px;
    bottom: 19.07%;
    
  }

 .headingcrown {
    position: absolute;
left: 69.17%;
right: 21.14%;
top: 38.58%;
bottom: 17.79%;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 19.96px;
line-height: 24px;
/* identical to box height */

color: #FBFBFB;
 
 } 

 .textcrown {
    position: absolute;
    left: 63.12%;
    right: 14.38%;
    top: 53.63%;
    bottom: 16.48%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    
    color: #FBFBFB;
      
 }

 .foto {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 325.71px;
    top: 86.59px;
    
 }

 .futertext {
    position: absolute;
    left: 14.39%;
    right: 63.14%;
    top: 49.78%;
    bottom: 28.12%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    
    color: #222224;
    
    
 }

 .futerheader {
    position: absolute;
    left: 921px;
    right: 14.38%;
    top: 33.48%;
    bottom: 52.9%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    /* or 40px */
    text-align: center;
    
    color: #222224;
    
 }

 .futerform {
    position: absolute;
    left: 57.31%;
    right: 20.44%;
    top: 54.24%;
    bottom: 34.82%;
    
 }




